* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: #afc1d6;
}

.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: #CCDEF6;
}

.btn {
  display: flex;
  width: 109px;
  height: 35px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  border: 1px solid #034B3C;
  background: #CCDEF6;
  color: #034B3C;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
}
.btn_wide {
  width: 167px;
}
.btn:hover {
  background: #034B3C;
  color: #CCDEF6;
}

.header {
  height: 60px;
  padding: 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
.header__item {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.header__link {
  color: #034B3C;
  text-decoration: none;
  transition: 0.5s all;
}
.header__link:hover {
  text-decoration: underline;
  color: #05ac90;
}
.header__logo {
  width: 64px;
  height: 46px;
  color: #034B3C;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.header__logo span {
  display: block;
  transform: rotate(90deg);
  position: absolute;
  top: 13px;
  left: 30px;
}

.title {
  width: 100%;
}
.title__divider {
  border: 1px solid #034B3C;
}
.title__divider_product {
  border: 1px solid #CCDEF6;
}
.title__text {
  color: #034B3C;
  font-size: 252px;
  font-weight: 700;
  line-height: 243.18px;
  margin: 0;
  user-select: none;
}
.title__text_product {
  color: #CCDEF6;
  font-size: 167px;
  font-weight: 700;
  line-height: 167px;
  text-transform: uppercase;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes flattenTextX {
  from {
    transform: scaleX(0.1);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes flattenTextY {
  from {
    transform: rotate(90deg) scaleY(0.1);
  }
  to {
    transform: rotate(90deg) scaleY(1);
  }
}
.grid {
  display: grid;
  grid-template: 485px 485px/640px 640px;
  justify-items: center;
  align-items: center;
}
.grid__bigtext {
  color: #034B3C;
  font-size: 252px;
  font-weight: 700;
  line-height: 243.18px;
  margin: 0;
  user-select: none;
  margin-bottom: 52px;
}
.grid__item {
  width: 100%;
  height: 100%;
  padding-left: 16px;
}
.grid__item-text {
  width: 578px;
  color: #034B3C;
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-transform: uppercase;
}
.grid__item-text span {
  font-family: "Prompt", sans-serif;
  font-style: italic;
  font-weight: 700;
}
.grid__item:nth-child(1) {
  border-right: 1px solid #034B3C;
  border-bottom: 1px solid #034B3C;
}
.grid__item:nth-child(2) {
  border-left: 1px solid #034B3C;
  border-bottom: 1px solid #034B3C;
}
.grid__item:nth-child(3) {
  border-right: 1px solid #034B3C;
  border-top: 1px solid #034B3C;
  padding: 70px 80px;
}
.grid__item:nth-child(4) {
  padding-top: 65px;
  border-top: 1px solid #034B3C;
  border-left: 1px solid #034B3C;
}
.grid__item:nth-child(4) div {
  width: 500px;
}
.grid__img {
  height: 469.682px;
  transform: rotate(-6.35deg);
}
.grid__more {
  margin-top: 204px;
}
.grid__wrapper {
  width: 456px;
  height: 324px;
  position: relative;
}
.grid__text1, .grid__text2 {
  color: #034B3C;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
}
.grid__text1 {
  transform: scaleX(0);
  animation: flattenTextX 1s ease-in-out 0.5s forwards;
}
.grid__text2 {
  transform: scaleY(0) rotate(90deg);
  position: absolute;
  top: 97px;
  right: -60px;
  animation: flattenTextY 1s ease-in-out 1s forwards;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes flattenTextX {
  from {
    transform: scaleX(0.1);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes flattenTextY {
  from {
    transform: rotate(90deg) scaleY(0.1);
  }
  to {
    transform: rotate(90deg) scaleY(1);
  }
}
.product {
  background: #034B3C;
}
.product__linerunner {
  padding: 34px 16px;
  height: 92px;
  color: #CCDEF6;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}
.product__linerunner p {
  transform: translateX(100%);
  animation: marquee 28s linear infinite;
}
.product__grid {
  display: grid;
  grid-template: 407px 407px/639px 639px;
  grid-auto-flow: row;
}
.product__item {
  width: 100%;
  height: 100%;
  padding: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.product__item:nth-child(1) {
  border-right: 1px solid #CCDEF6;
  border-bottom: 1px solid #CCDEF6;
}
.product__item:nth-child(2) {
  border-left: 1px solid #CCDEF6;
  border-bottom: 1px solid #CCDEF6;
}
.product__item:nth-child(3) {
  border-right: 1px solid #CCDEF6;
  border-top: 1px solid #CCDEF6;
  border-bottom: 1px solid #CCDEF6;
}
.product__item:nth-child(4) {
  border-top: 1px solid #CCDEF6;
  border-left: 1px solid #CCDEF6;
  border-bottom: 1px solid #CCDEF6;
}
.product__item:nth-child(5) {
  border-right: 1px solid #CCDEF6;
  border-top: 1px solid #CCDEF6;
}
.product__item:nth-child(6) {
  border-top: 1px solid #CCDEF6;
  border-left: 1px solid #CCDEF6;
}
.product__item:hover .product__img {
  transform: scale(1.2);
}
.product__item:hover .product__title {
  font-size: 26px;
}
.product__img {
  width: 210px;
  margin: 0 auto;
  margin-top: 15%;
  transition: 0.5s all;
}
.product__title, .product__price {
  color: #CCDEF6;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: 0.5s all;
}
.product__more {
  padding-top: 65px;
  height: 244px;
  background: #CCDEF6;
}
.product__btn {
  margin: 0 auto;
}

.footer {
  padding-left: 16px;
  padding-right: 112px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__divider {
  border: 1px solid #034B3C;
}
.footer__logo {
  color: #034B3C;
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  text-transform: uppercase;
}
.footer__wrapper {
  width: 512px;
}
.footer__text {
  color: #034B3C;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.footer__form {
  display: flex;
  gap: 48px;
}
.footer__input {
  display: flex;
  width: 307px;
  height: 34px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 83px;
  border: 1px solid #034B3C;
  background: #CCDEF6;
}
.footer__input::placeholder {
  color: #034B3C;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  text-transform: uppercase;
}
.footer__submit {
  display: flex;
  width: 76px;
  height: 34px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 83px;
  border: 1px solid #034B3C;
  color: #034B3C;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  text-transform: uppercase;
  background: #CCDEF6;
  transition: 0.5s all;
  cursor: pointer;
}
.footer__submit:hover {
  background: #034B3C;
  color: #CCDEF6;
}
.footer .invalid {
  border: 1px solid red;
}
.footer .invalid-msg {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
